# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Dependency makefiles
*.d

#Compiled executable
emulationstation

#build directory
EmulationStation_vs2010
build
Debug
Release
MinSizeRel
RelWithDebInfo