# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# And on Windows
*.dll
*.pdb
*.exe.manifest

# Dependency makefiles
*.d

#Compiled executable
emulationstation
emulationstation.exe

#build directory
EmulationStation_vs2010
build
Debug
Release
MinSizeRel
RelWithDebInfo
